body{
  font-family: "Roboto", sans-serif;
}

.header{
  background-image: url("designer_1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 990px 1161px;
  height: 1161px;
}
.novigation{
  display: flex;
  font-size:large;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  border: solid black;
  border-width: 1px;
}

.orientation{
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 24px;
  width: 245px;
  margin-right: 705px;
  gap: 60px;
  display: flex;
  margin-left: 165px;
}

.orientation a{
  color: rgb(80,95,152);
  text-decoration: none;
}

.logo{
  height: 38px;
  width: 95px;
  color: #37447e;
  display: flex;
  font-size: 26px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#top-button{
  border: #111b47;
  border-radius: 2px;
  display: flex;
  background-color: #111b47;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 705px;
  margin-right: 165px;
  height: 26px;
  width: 160px;
  font-size: 12px;
}

.introducing{
  margin-top: 292px;
  margin-left: 467px;
  margin-right: 1204px;
  margin-bottom: 388px;
  width: 539px;
  height: 421px;
}


.introducing h2{
  font-size: 50px;
  font-weight: 470;
}

.short-info{
  font-size: 19px;
  margin-bottom: 69px;
}

.intro-buttons{
  display: flex;
  justify-content: center;
  justify-content: space-between ;
}

.intro-buttons button:nth-child(1){
  background-color: #111b47;
  color: white;
  border-radius: 3px;
  width: 189px;
  height: 36px;
  font-size: 16px;
}

.intro-buttons button:nth-child(2){
  background: none;
  border-radius: 3px;
  width: 189px;
  height: 36px;
  font-size: 16px;
}
